.git
.github
.idea
.vscode
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
build
dist
output
temp
tmp
venv
.venv
envs
projects/web/node_modules
projects/web/dist

